<h1 class='article_title' > <%= @article.title %> </h1>

<div class='article_body'>
  <% if @article.image.attached? %>
  <p><%= image_tag url_for(@article.image) %> </p>
  <% end %>
  <h2><p> <%= raw @article.body %> </p></h2>
</div>

<p>Tagged with: <%= "no tags :(" if @article.tags.empty? %> 
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end  unless @article.tags.empty? %> </p>

<div class="article_comments">
  <h3>Comments <%= "(#{@article.comments.size})" unless @article.comments.empty? %></h3>
  <%= 'No Comments (yet?)' if @article.comments.empty? %>
  <%= render partial: 'articles/comment', collection: @article.comments %>
</div>

<% if logged_in? %>
  <div class="actions">
    <p><%= link_to "Delete this article", article_path(@article), class: 'delete_link', method: :delete, 
      data: {confirm: "Really delete the article?"} %> </p>

    <p><%= link_to "Edit this article", edit_article_path(@article), class: 'edit_link' %> </p>

  </div>
<% end %>

<%= render partial: 'comments/form' %>
<%= link_to "Articles List", articles_path %>